@charset "utf-8";

@font-face {
  font-family: "ProximaNova";
  src: url("./assets/fonts/ProximaNova-Reg.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaLight";
  src: url("./assets/fonts/ProximaNova-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("./assets/fonts/ProximaNova-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: bold;
}

html {
  font-size: 42%;
}

body {
  font-family: "ProximaNova", Arial, Helvetica, sans-serif;
  color: #3b3b3b;
  background-color: #fff;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #2699fb;
}

strong {
  font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1.8rem;
}

h4 {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 1.8rem;
}

ol,
ul,
dl {
  padding-left: 3rem;
}

.container {
  max-width: 1190px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  padding-right: 8px;
  padding-left: 8px;
}

.h2 {
  font-size: 3.6rem;
  line-height: 5rem;
  font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif;
}

.site-main {
  margin-bottom: 6rem;
}

.table-lg td {
  padding: 1.6rem 0;
}

.navbar-light .navbar-nav .dropdown-menu a {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.footer {
  padding-bottom: 3rem;
}

.footer-nav {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 3rem 0;
}

.footer-contacts {
  margin-bottom: 4rem;
}

.footer-contacts .contacts-title {
  color: #999;
  font-size: 1.8rem;
}

.footer-contacts .phone-number {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
}

.footer-contacts .contacts-email {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.footer-contacts .contacts-email a {
  color: #2699fb;
  text-decoration: underline;
}

.footer-horisontal-menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer-horisontal-menu .nav-item {
  text-align: left;
}

.footer-nav .nav-link {
  padding: 0.1rem 0;
}

.footer-nav .active .nav-link {
  color: #2699fb;
  opacity: 1;
}

.footer-copyright {
  color: #bcbcbc;
  max-width: 550px;
  padding: 1.3rem 0;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.footer-copyright p {
  margin-bottom: 1.6rem;
}

.footer-copyright small {
  font-size: 1.6rem;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  text-align: left;
  width: 50%;
}

.post-thumbnail {
  margin-top: 1.5em;
  display: inline-block;
}

.entry-header {
  margin-bottom: 4.5rem;
}

.entry-content p {
  margin-bottom: 2rem;
}

.entry-meta {
  font-size: 0.9rem;
}

.entry-footer {
  font-size: 0.9rem;
  margin-top: 1rem;
}

.comments-link {
  float: right;
  margin: 4px 0px 4px 10px;
  font-size: 90%;
  padding-top: 0.2em;
}

.cat-links .badge,
.tags-links .badge {
  font-size: 90%;
  font-weight: normal;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 4px 10px 4px 0;
  padding: 0.4em 0.9em;
}

.cat-links a,
.tags-links a {
  color: #6c757d;
}

.cat-links a:hover,
.tags-links a:hover {
  text-decoration: none;
  color: #212529;
}

.entry-meta a,
.comments-link a,
.edit-link a {
  color: #6c757d;
}

.entry-meta a:hover,
.comments-link a:hover,
.edit-link a:hover {
  text-decoration: none;
  color: #007bff;
}

.entry-title a:hover {
  color: #007bff !important;
}

.content-area.wp-bp-404 .card-body {
  padding: 2.5rem 4rem;
}

.sidebar-1-area .widget,
.footer-widgets .widget {
  margin-bottom: 0;
  padding: 2rem;
}

.sidebar-1-area .widget ul,
.footer-widgets .widget ul {
  padding-left: 20px;
  color: #6c757d;
  margin-bottom: 0;
}

.sidebar-1-area .widget ul li,
.footer-widgets .widget ul li {
  padding-top: 3px;
  padding-bottom: 3px;
  list-style: square;
}

.sidebar-1-area .widget ul li:last-child,
.footer-widgets .widget ul li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar-1-area .widget ul li a,
.footer-widgets .widget ul li a {
  color: #6c757d;
}

.sidebar-1-area .widget ul li a:hover,
.footer-widgets .widget ul li a:hover {
  color: #212529;
  text-decoration: none;
}

.footer-widgets .widget {
  padding: 0.5rem;
}

#wp-calendar #next {
  text-align: right;
}

#wp-calendar #prev a,
#wp-calendar #next a {
  color: #6c757d;
}

#wp-calendar #prev a:hover,
#wp-calendar #next a:hover {
  color: #212529;
  text-decoration: none;
}

#calendar_wrap table th,
#calendar_wrap table td {
  padding: 0.25rem;
}

.hentry.card .card-body {
  padding: 1.5rem;
}

select {
  height: calc(2.25rem + 2px);
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.entry-title a:hover {
  text-decoration: none;
}

.mt-6 {
  margin-top: 6rem;
}

.wp-bp-sticky {
  position: absolute;
  top: 0;
  right: 1rem;
}

.single .post-navigation .nav-links a {
  color: #6c757d;
  margin-bottom: 2rem;
  display: inline-block;
}

.single .post-navigation .nav-links a:hover {
  color: #212529;
  text-decoration: none;
}

.navbar {
  padding: 1.2rem 0;
}

#wp-bp-posts-slider .carousel-item img {
  width: auto;
  height: 380px;
  -o-object-fit: cover;
  object-fit: cover;
}

#wp-bp-posts-slider .carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem;
}

#wp-bp-posts-slider .carousel-control-prev,
#wp-bp-posts-slider .carousel-control-next {
  width: 10%;
}

#wp-bp-posts-slider .carousel-indicators li {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  border-radius: 50%;
}

#wp-bp-posts-slider .carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin-top: 0;
  border: 1px solid #fff;
  background: transparent;
}

#wp-bp-posts-slider .item-title {
  font-size: 3rem;
  line-height: 4rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

#wp-bp-posts-slider .item-description {
  font-size: 2.1rem;
  line-height: 2.8rem;
}

.site-branding-logo {
  display: inline-block;
  width: 174px;
  height: 36px;
  margin: 0.2rem auto;
}

.site-branding-logo img {
  width: 100%;
  height: 100%;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-menu-wrap {
  padding: 2rem 0;
}

.footer .nav-link {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.navbar-light .navbar-nav .nav-item {
  text-align: center;
  margin: 1.6rem 0.9rem;
}

.navbar-light .navbar-nav .nav-link,
.footer .nav-link {
  font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif;
  color: #000;
  opacity: 0.75;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #000;
  opacity: 1;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #2699fb;
  opacity: 1;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
  color: #000;
}

.navbar-light .navbar-nav .dropdown-menu .active > .nav-link {
  color: #212529;
}

.navbar-light .navbar-nav .dropdown-menu .nav-link:hover,
.navbar-light .navbar-nav .dropdown-menu .nav-link:focus {
  color: #212529;
}

.page-template-full-width .footer.mt-4,
.wb-bp-front-page .footer.mt-4 {
  margin-top: 0 !important;
}

.wb-hide-mobile-sidebar .wp-bp-sidebar-width {
  display: none;
}

.navbar-light .navbar-toggler {
  background-color: #fff;
  border: none;
  position: absolute;
  right: 0;
  top: 2.7rem;
  padding: 0;
  opacity: 0.7;
}

.navbar-toggler .navbar-open-icon {
  width: 2.8rem;
  height: 2.8rem;
  display: none;
}

.navbar-toggler.collapsed .navbar-open-icon {
  display: inline-block;
}

.navbar-toggler .navbar-close-icon {
  width: 3rem;
  height: 3rem;
}

.navbar-toggler.collapsed .navbar-close-icon {
  display: none;
}

.search-trigger {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  opacity: 0.8;
  cursor: pointer;
}

.search-trigger img {
  width: 100%;
  height: 100%;
}

.site-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  line-height: 2rem;
}

body.custom-background .wp-bp-main-content .col-md-8 {
  background: #f8f9fa;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.footer a:hover {
  text-decoration: none;
}

.admin-bar .site-header.sticky-top {
  top: 32px;
}

.wb-bp-front-page .site-header {
  border-bottom: 0;
}

.wb-bp-front-page .wp-bs-4-jumbotron {
  padding: 0;
  background-size: cover;
  background-position: center;
  background-color: #343a40;
  border-radius: 0;
}

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay {
  padding: 10rem 2rem; /* background: rgba(#212529, 0.7); */
}

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .lead {
  opacity: 0.75;
}

.wb-bp-front-page .wp-bs-4-jumbotron .wp-bp-jumbo-overlay .jumbotron-heading {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.wp-bp-services-section {
  padding: 4.5rem 0 5rem;
}

.wp-bp-services-section .card {
  overflow: hidden;
  border: none;
  margin-bottom: 1.6rem;
  border-radius: 0.4rem;
}

.wp-bp-services-section .card-content {
  background-size: cover;
  position: relative;
}

.wp-bp-services-section .card-title {
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 0 3rem;
  font-size: 2.4rem;
  color: #fff;
}

.wp-bp-services-section .card-body {
  font-size: 1.8rem;
  line-height: 2.4rem;
  padding: 2.5rem 3rem;
  color: #fff;
  min-height: 11rem;
}

.wp-bp-services-section .card-body.blue {
  background: #2699fb;
}

.wp-bp-services-section .card-body.orange {
  background: #ffa558;
}

.wp-bp-services-section .card-body.green {
  background: #7eb238;
}

.wp-bp-services-section .service-link {
  text-decoration: none;
}

.wb-bp-front-page .wp-bp-main-content {
  padding: 4rem 0;
}

.wb-bp-front-page .wp-bp-main-content p {
  font-size: 1.25rem;
  font-weight: 300;
}

.wb-bp-front-page .wp-bp-main-content blockquote {
  font-size: 1.35rem;
}

.wb-bp-front-page .wp-bp-main-content blockquote p {
  font-size: 1.35rem;
}

.wb-bp-front-page .wp-bp-main-content .post-thumbnail {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.wb-bp-front-page .wp-bp-feat-card-img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.wp-caption .wp-caption-text {
  font-size: 0.95rem;
}

/*-----------------------------------
# Home page clients block
-----------------------------------*/
.clients-section .client-logo {
  padding: 2rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.clients-section .client-logo img {
  margin: 0 auto;
}

/*-----------------------------------
# About us
-----------------------------------*/
.projects-block {
  margin: 2rem 0 4rem;
  line-height: 2.6rem;
}

.projects-block h3 {
  color: #2699fb;
  font-size: 5rem;
  line-height: 6rem;
  margin: 0;
}

.projects-block span {
  font-family: "ProximaNovaLight", Arial, Helvetica, sans-serif;
}

.projects-block .project {
  display: inline-block;
  width: 160px;
  margin: 3rem 0;
  text-align: center;
}

/*-----------------------------------
# Contacts
-----------------------------------*/
.contacts-table {
  margin-top: -1.6rem;
  margin-bottom: 3rem;
}

/*-----------------------------------
# FAQ
-----------------------------------*/
.faq-title {
  margin: 7.4rem 0 3.6rem;
}

.ufaq-faq-div {
  font-family: "ProximaNovaLight", Arial, Helvetica, sans-serif;
  margin-bottom: 3rem;
  padding-left: 0.8rem;
}

.ewd-ufaq-post-margin-symbol {
  display: none;
}

.ufaq-faq-title-text h4 {
  font-size: 2.2rem;
  color: #2699fb;
  margin: 0 0 0 !important;
}

.ewd-ufaq-post-active .ufaq-faq-title-text h4 {
  color: #3b3b3b;
}

.ufaq-faq-body {
  font-size: 2.1rem;
  line-height: 3rem;
  padding: 0 0 0 2rem;
  border-left: 1px solid #777;
}

.ufaq-faq-post p {
  margin: 2.6rem 0;
}

/*-----------------------------------
# Catalog
-----------------------------------*/
.catalog-category-row {
  padding: 4rem 0;
}

.catalog-category-row,
.catalog-category-row a {
  color: #fff;
}

.catalog-category-row.blue {
  background-color: #2699fb;
}

.catalog-category-row.orange {
  background-color: #ffa558;
}

.catalog-category-row.green {
  background-color: #7eb238;
}

.catalog-category-title {
  margin-bottom: 1.4rem;
}

.catalog-category-title a:hover {
  color: #fff;
}

.catalog-category-descr {
  font-size: 2.2rem;
}

.catalog-sub-category-row {
  margin-top: 1rem;
}

.catalog-sub-category-card {
  font-size: 2.4rem;
  background-color: transparent;
  border-color: #ccc;
  height: 19rem;
  margin: 1.5rem 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.catalog-sub-category-card:hover {
  border-color: #fff;
}

.catalog-sub-category-card a,
.category-product-card a {
  display: block;
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.catalog-sub-category-card a:hover {
  color: #fff;
  text-decoration: none;
}

.category-product-card {
  font-size: 2.4rem;
  background-color: transparent;
  border-color: #ccc;
  height: 28rem;
  margin: 8px 0;
  border-radius: 0.5rem;
  background-size: cover;
  background-position: center;
}

.category-title,
.category-product-title {
  color: #fff;
}

.category-sup-title {
  margin: 0 0 1rem;
  line-height: 2.8rem;
}

/*-----------------------------------
# Product
-----------------------------------*/
.woocommerce-product-gallery {
  margin-bottom: 4rem;
}

.woocommerce-product-details__sku {
  color: #6f6f6f;
  font-size: 1.8rem;
}

.woocommerce-product-gallery__wrapper {
  margin: 0;
}

.woocommerce-product-gallery__image {
  border-radius: 5px;
  overflow: hidden;
}

.woocommerce-product-details__product-description {
  font-size: 2.1rem;
  line-height: 3.4rem;
}

.woocommerce-product-details__short-description {
  border-bottom: 1px solid #e3e3e3;
  padding: 0 0 2rem;
  margin: 0 0 2rem;
}

.woocommerce-product-details__price {
  margin-bottom: 7rem;
}

.woocommerce-product-details__price .woocommerce-Price-amount.amount {
  font-size: 3.6rem;
  line-height: 5rem;
  font-family: "ProximaNovaBold", Arial, Helvetica, sans-serif;
  color: #2699fb;
}

.single-product
  div.product
  div.woocommerce-product-gallery
  .flex-control-thumbs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -2%;
  margin-left: -2%;
}

.single-product
  div.product
  div.woocommerce-product-gallery
  .flex-control-thumbs
  li {
  -ms-flex: 0 0 16%;
  flex: 0 0 16%;
  max-width: 16%;
  width: auto !important;
  margin: 0 2% 0.8rem;
  overflow: hidden;
  display: block;
  border-radius: 5px;
}

.entry-list-item {
  padding: 1rem 0;
  margin: 0;
}

.entry-list-item + .entry-list-item {
  border-top: 1px solid #e3e3e3;
  padding: 3rem 0 1rem;
}

.entry-list-summary {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

/*-----------------------------------
# Search
-----------------------------------*/
.search-modal {
  top: 10rem;
}

.search-modal .modal-dialog {
  max-width: 700px;
  padding: 0 8px;
}

.search-modal .modal-content {
  background-color: transparent;
  border: none;
}

.searchform .search-input-wrap {
  position: relative;
  line-height: 1.8rem;
}

.searchform .form-control-lg {
  padding: 2.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}

.searchform .search-icon {
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  opacity: 0.4;
}

.searchform .search-icon img {
  width: 2.2rem;
  height: 2.2rem;
}

.searchform .form-control {
  padding-left: 4.6rem;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 768px) {
  html {
    font-size: 47%;
  }
  .hentry.card .card-body {
    padding: 2.5rem 4rem;
  }
  .wb-hide-mobile-sidebar .wp-bp-sidebar-width {
    display: block;
  }
  .site-branding-logo {
    margin: 1rem 2.5rem 1rem 0;
    width: 146px;
    height: 47px;
  }
  .navbar-light .navbar-toggler {
    top: 4.8rem;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 3.4rem;
    height: 3.4rem;
  }
  .wp-bp-services-section .card-title {
    top: 2rem;
  }
  .wp-bp-services-section .card-body {
    font-size: 1.6rem;
    line-height: 1.8rem;
    padding: 1.5rem 3rem;
    min-height: 11rem;
  }
  .clients-section .client-logo img {
    margin: 0;
  }
  .footer-copyright {
    font-size: 1.4rem;
  }
  .footer-copyright small {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .footer-contacts {
    margin-bottom: 0;
  }
  .projects-block .project {
    width: 240px;
  }
  .catalog-category-row {
    padding: 11.4rem 0;
  }
  .catalog-category-descr {
    font-size: 1.8rem;
  }
  .catalog-sub-category-row {
    margin-top: 5rem;
  }
  .catalog-sub-category-card {
    margin: 2.5rem 0;
    font-size: 2.1rem;
  }
  .catalog-sub-category-card a {
    padding: 2rem 2.8rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
  .footer {
    padding-bottom: 3rem;
    line-height: 2rem;
  }
  .footer .nav-link {
    margin: 0;
  }
  .footer-horisontal-menu ul {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-contacts .contacts-title {
    font-size: 1.2rem;
  }
  .footer-contacts .phone-number {
    font-size: 1.6rem;
  }
  .footer-contacts .contacts-email {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .navbar {
    padding: 1rem 0;
  }
  .main-navigation {
    height: 110px;
  }
  .site-branding-logo {
    margin: 1rem 2.5rem 1rem 0;
    width: 174px;
    height: 57px;
  }
  .navbar-light .navbar-nav .nav-item {
    margin: 0 0.9rem;
    text-align: left;
  }
  .navbar-light .navbar-nav .nav-link,
  .footer .nav-link {
    font-size: 1.2rem;
  }
  #wp-bp-posts-slider .carousel-item img {
    height: 500px;
  }
  #wp-bp-posts-slider .item-title {
    font-size: 6rem;
    line-height: 7.3rem;
    margin-top: 5rem;
    max-width: 800px;
  }
  #wp-bp-posts-slider .item-description {
    width: 560px;
    font-size: 2rem;
    line-height: 3rem;
  }
  #wp-bp-posts-slider .carousel-caption {
    padding: 2rem 4rem;
  }
  .wp-bp-services-section .card-body {
    font-size: 1.4rem;
    line-height: 1.7rem;
    min-height: 10rem;
  }
  .footer-horisontal-menu .navbar-nav {
    margin-left: auto;
  }
  .footer-horisontal-menu .nav-item {
    margin: 0 0.9rem;
  }
  .ufaq-faq-body {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .woocommerce-product-details__product-description {
    font-size: 1.8rem;
    line-height: 3rem;
  }
}

@media (min-width: 1236px) {
  #wp-bp-posts-slider .carousel-item img {
    height: 580px;
  }
}

@media (min-width: 1366px) {
  #wp-bp-posts-slider .carousel-item img {
    height: 680px;
  }
}

@media (min-width: 1596px) {
  #wp-bp-posts-slider .carousel-item img {
    height: 760px;
  }
}
